@media(min-width: 1200px){
    .searchcontainer{
        /* max-width: 1400px; */
    }
}


.test{
  padding: 10rem 0 2rem 0;
   background-color: rgba(204,187,143,.1);
}


.searchuptext {
    display: flex;
}

.searchuptext h1{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ccbb8f;
}

.searchuptext2{
    margin: 10px 0 70px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.searchuptext2 h3{
    float: left;
    font-family: 'Merriweather', serif;
    color: #808080;
    font-weight: bold;
    letter-spacing: 1px;
}

.searchuptext2 a{
    display: flex;
}

.searchcustom-box{
  margin-bottom: 10px;
}

.homelink{
    display: flex;
    align-items: center;
    float: right;
    text-decoration: none;
    color: black;
}

.homelink a{
    color: black;
    text-decoration: none;
}






.custom-select-container {
    display: inline-block;
    /* min-width: 250px; */
    width: 100%;
    text-align: center;
    position: relative;
    transition: .2s;
  }
  
  .selected-text {
    background-color: white;
    padding: 15px 63px 15px 40px;
    border: 1px solid #ccbb8f;
    font-family: 'Montserrat', sans-serif;
    color: #808080;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05), -5px -5px 10px #FFFFFF;
    transition: .2s;
    /* border-bottom: 1px solid #37b0b0; */
  }
  
  .selected-text::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 22px;
    margin: 0 9px;
    border: solid #808080;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    /* display: inline-block; */
    padding: 3px;
    transition: .2s;
    /* border-left: 5px solid black; */
    /* border-bottom: 5px solid black; */
    /* border-color: black  ; */
  }
  
  .selected-text.active::after {
    top: 26px;
    transform: rotate(220deg);
  
    /* border-color: transparent transparent black transparent; */
  }
  
  .search-ul ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .select-options {
    position: absolute;
    width: 100%;
    border: 1px solid #ccbb8f;
  }
  
  .select-options li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-align: start;
    background: white;
    color: #808080;
    border-bottom: 1px solid #ccbb8f;
    cursor: pointer;
    transition: .2s;
  }
  
  .select-options li:hover {
    background-color: #ccbb8f;
    color: #ffffff;
  }
  

  .searchcustom-searchbtn{
    display: flex;
     justify-content: center;
     align-items: flex-start;
  }

  .searchbtn{
    background: #FFE9B1;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05), -5px -5px 10px #FFFFFF;
    border: 0;
    font-size: 15px;
    padding: 16px 35px;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Merriweather',serif;
    font-weight: 900;
    color: rgba(0,0,0,.8);
    transition: .5s;
  }

  .searchbtn:hover{
      background-color: #ccbb8f;
  }


  @media(max-width: 600px){
      .selected-text{
        padding: 6px 5px 6px 37px;
        font-size: 12px;
      }
      .selected-text::after{
          top: 9px;
      }
      .selected-text.active::after{
          top: 15px;
      }
      .searchbtn{
        font-size: 7px;
        padding: 8px 10px;;
    }
  }